body {
    font-family: Roboto;
    width: auto;
    background-color: ghostwhite;
}

h1 {
    font-size: 50pc;
}

header {
    height: 100pc;
    line-height: 100pc;
    margin: 0pc 25pc 10pc;
    background-color: seagreen;
    text-align: center;
}

main {
    background-color: sandybrown;
    margin: 0pc 25pc;
    padding: 10pc;
}

form.signup {
    display: table;
}

p.signup {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}
