html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 450pt;
}

body {
    font-family: Roboto, sans-serif;
    height: auto;
    width: auto;
    background-color: ghostwhite;
    margin: 0;
    padding: 3pt;
}

header {
    height: 70pt;
    line-height: 70pt;
    margin: 0 auto;
    background-color: seagreen;
    text-align: center;
    min-width: 425pt;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: sandybrown;
    margin: 3pt auto;
    padding: 50pt;
    min-height: 300pt;
    min-width: 200pt;
    overflow-x: hidden;
    align-items: center;
}

nav {
    display: block;
    width: 20%;
    min-width: 125pt;
    max-width: 200pt;
    height: 400pt;
    background-color: mediumslateblue;
    min-height: 300pt;
    margin: 3pt 3pt auto auto;
    float: left;
    vertical-align: top;
}

footer {
    height: 70pt;
    margin: 0 auto;
    background-color: darkorange;
    min-width: 400pt;
    text-align: center;
}

h1 {
    font-size: 50pt;
    padding: 0;
    margin: 0;
}



.navbtn {
    display: block;
    width: auto;
    height: 50pt;
    line-height: 50pt;
    font-size: 30pt;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    color: black;
    -webkit-transition: background-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out, background-color 0.4s ease-in-out;

}

.navbtn:hover {
    background-color: #8877ef;
}

input[type=search] {
    background: url("images/searchicon.png")  no-repeat scroll 5px 50%;
    background-size: 22pt;
    background-color: white;
    border: 3px solid mediumslateblue;
    font-size: 22pt;
    width: 33pt;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

input[type=search]:focus {
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    outline-width: 0;
}

.form {
    display: table;
}

.formline {
    display: table-row;
}

.signup {
    display: table-cell;
}