/* properly sets up the page and makes it more consistent among different browsers */
html {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 450pt;
    font-size: larger;
    position: static;
}

/* same as html */
body {
    font-family: Roboto, sans-serif;
    height: auto;
    width: auto;
    background-color: ghostwhite;
    margin: 0;
    outline-color: black;
    position: static;
}

/* formatting for the header */
header {
    position: relative;
    height: 70pt;
    line-height: 70pt;
    background-color: seagreen;
    padding-left: 15pt;
    margin: 3pt;
}

/* formatting of the main box using flex-box */
main {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 153pt;
    right: 6pt;
    background-color: sandybrown;
    margin: 0 auto;
    padding: 0 50pt;
    height: 100%;
    align-items: center;
    overflow-y: auto;
}

/* navigation box set aside left of the main box */
aside {
    position: absolute;
    height: 100%;
    width: 150pt;
    background-color: mediumslateblue;
    margin: 0 auto;
}

/* formatting of the footer */
footer {
    position: absolute;
    height: 30pt;
    line-height: 30pt;
    background-color: darkorange;
    text-align: center;
    padding: 0;
    bottom: 3pt;
    left: 3pt;
    right: 3pt;
}

/* wraps around main and aside for positioning purposes */
.wrapper {
    display: flex;
    position: fixed;
    top: 76pt;
    left: 3pt;
    right: 3pt;
    bottom: 36pt;
    width: 100%;
}

/* wraps around icon and text to make it one clickable object */
.header {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    float: left;
}

/* takes away standard formatting from browsers */
p {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* beautify text on homepage */
p.home {
    max-width: 600pt;
    line-height: 22pt;
}

/* same as p */
h1 {
    font-size: 50pt;
    padding: 0;
    margin: 0;
}

/* format tables */
table {
    border-spacing: 5pt;
}

/* and table rows/cells */
th, td {
    padding: 15px;
}

/* formats navigation buttons inside the sidebar and sets up their hover transition */
.navbtn {
    display: block;
    width: auto;
    height: 50pt;
    line-height: 50pt;
    font-size: 30pt;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    color: black;
    transition: background-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

/* change bg color on hover */
.navbtn:hover {
    background-color: #8a80ef;
}

/* black outlines on all inputs */
input, textarea {
    outline-color: black;
}

/* format submit buttons */
input[type=submit] {
    width: 90pt;
    height: 30pt;
    font-size: 18pt;
    border: none;
    background-color: mediumslateblue;
    color: black;
    transition: background-color 0.4s ease-in-out, outline 0.4s ease-in-out;
}

/* change bg color on hove/focus */
input[type=submit]:hover, input[type=submit]:focus {
    background-color: #8a80ef;
}

/* make the search field appear as an icon first */
input[type=search] {
    background: url("images/searchicon.png") no-repeat scroll 5px 50%;
    background-size: 22pt;
    background-color: white;
    border: 3px solid mediumslateblue;
    font-size: 22pt;
    width: 33pt;
    transition: width 0.4s ease-in-out;
}

/* and extend to an input field when focused */
input[type=search]:focus {
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    outline-width: 0;
}

/* for beautiful alignment of all form elements */
.form {
    display: table;
    text-align: center;
    margin: 0 auto;
}

/* same as .form */
.formline {
    display: table-row;
}

/* same as .form */
.formelement {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

/* set up hover tooltips for password validation hints */
.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
}

/* same as .tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 140pt;
    background-color: ghostwhite;
    color: black;
    text-align: justify;
    padding: 5pt;
    margin-left: 10pt;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    z-index: 1;
    box-shadow: 0 8pt 16pt 0 rgba(0, 0, 0, 0.2);
}

/* shows tooltip on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* sets up dropdown for the login/account menu */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    color: white;
    padding: 0 25pt 0 25pt;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* same as .dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: ghostwhite;
    min-width: 250px;
    box-shadow: 0 8pt 16pt 0 rgba(0, 0, 0, 0.2);
    line-height: normal;
    z-index: 1;
}

/* displays the dropdown menu when hovered */
.dropdown:hover .dropdown-content {
    display: block;
}

/* sets up dropdown links for the account menu */
.dropdown:hover .dropdown-content a {
    display: block;
    padding: 25pt 16pt;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out, font-weight 0.4s ease-in-out;
}

/* highlight when hovered */
.dropdown:hover .dropdown-content a:hover {
    background-color: #8877ef;
    font-weight: bolder;
}

/* dropdown button changed color when hovered */
.dropdown:hover {
    background-color: lightgreen;
    color: black;
}

/* padding for the login form */
.dropdown:hover .dropdown-content .form {
    padding: 25pt 16pt;
}

/* mostly used for error messages */
.caution {
    color: maroon;
    font-weight: bold;
}

/* formats images for display on pages with multiple images e.g. browse */
.item {
    float: left;
    clear: left;
    max-height: 150pt;
    margin: 3pt;
}

/* sets up the container for displaying the items on the browse page */
.browse {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

/* makes sure the filter ranged over the full width of the main content area */
div.filter {
    width: 100%;
}

/* formats the browse page filters */
form.filter {
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50pt;
    overflow-x: auto;
}

/* makes sure the reset link is following the overall design */
.reset {
    color: black;
    text-decoration: none;
}

/* same as .reset */
.reset:visited {
    color: black;
}

/* sets up formatting for the item detail page */
.item_page {
    max-width: 500pt;
    max-height: 300pt;
}

/* takes away unnecessary restriction for the table used */
table.item_page {
    max-height: none;
}